.inputGroup {
    border: 2px solid lightgrey;
    border-radius: 2ch;
    background-color: rgb(240, 240, 240);
}

.infoCard {
    background-color: rgb(240, 240, 240);
    padding: 0 10px;
}

label {
    padding: 0 10px;
}

.react-icons {
    vertical-align: middle;
  }